body
{
    margin-left: 15em;
    font-family: 'Open Sans', sans-serif;
}


.gray
{
    color: #60666d;
}

.purple
{
    color: #7933b1;
}


.darkGray
{
    color: #494f55;
}

.darkBlue
{
    color: #2b26b4;
}

/* line-height: межстрочный интервал (интерлиньяж)*/
h1
{
    line-height: 0.1em;
}

p
{
    line-height: 1.5em;
}

div
{
    margin-bottom: 3em;
}

